# Ignore everything
/*

# But not wp-content/plugins/lbm-core
!wp-content/
!wp-content/plugins/
!wp-content/plugins/lbm-core/
wp-content/themes
wp-content/uploads
wp-content/languages
wp-content/wpvivid_staging
wp-content/index.php
wp-content/debug.log
wp-content/.DS_Store
wp-content/plugins/lbm-core/vendor
wp-content/mu-plugins
wp-content/wpvividbackups
# Ignore everything inside wp-content/plugins except lbm-core
wp-content/plugins/*
!wp-content/plugins/lbm-core/
